// Color Palette

// Background Colors

$bgc-1: #FFFFFF;
$bgc-2: #FFFFFF59;
$bgc-3: #F9F9F9;
$bgc-4: #F5F5F5;
$bgc-5: #E5E3DF;
$bgc-6: #D2405D;
$bgc-7: #BBBBBB;
$bgc-8: #527CEB;
$bgc-9: #70707059;
$bgc-10: #3D3D3D;
$bgc-11: #333333;
$bgc-12: #00000073;
$bgc-13: #000000B3;
$bgc-14: #000000E6;

// Text Colors 

$tc-1: #FFFFFF;
$tc-2: #FFFFFFCF;
$tc-3: #FFFFFFC9;
$tc-4: #FFFFFFCC;
$tc-5: #FFFFFFB3;
$tc-6: #FFFFFF99;
$tc-7: #FFFFFF80;
$tc-8: #F9F9F9;
$tc-9: #D2405D;
$tc-10: #AAAAAA;
$tc-11: #1BB0CE;
$tc-12: #888888;
$tc-13: #555555;
$tc-14: #444444;
$tc-15: #3D3D3D;
$tc-16: #393939;
$tc-17: #202020;
$tc-18: #0E0E0E;
$tc-19: #0E0E0EB3;
$tc-20: #000000;

// Fill Colors

$fc-1: #FFFFFF;
$fc-2: #000000;

// Border Colors

$bc-1: #FFFFFF;
$bc-2: #DEDEDE;
$bc-3: #BBBBBB;